!data/labels
data/labels/*/*.jpg
data/processed
data/raw
data/test
.env
*__pycache__*
models
.idea
documents
leetcode
# Weights in models
models/*/*.weights
*.jpg
data/kaggle_datasets/*
# Temporary ignore
src/computer_vision/detect_food.py