!data/labels
data/labels/*/*.jpg
data/processed
data/raw
data/test
.env
*__pycache__*
models
.idea
documents

# Weights in models
models/*/*.weights

# Temporary ignore
src/computer_vision/detect_food.py